h3{font-size:16px; margin:0}
blockquote{font-size:14px; padding:0px 20px; line-height:1.5; border:0}
.hero-unit{padding:30px 60px; margin-bottom:5px}
.jumbotron{background-color: #FFF; border: 1px solid #DDD;}
