form .pri.active:before {font-family: ZenIcon; content: '\e60d'; display: inline-block;}
form .pri.pri-1.active:before, form .pri.pri-2.active:before, form .pri.pri-3.active:before, form .pri.pri-4.active:before {margin-right: 5px;}
form .pri {width: 48px;}

.label.task-status-doing {color: #D2322D}
.label.task-status-done {color: #229F24}
.label.task-status-waiting {color: #E48600}
.label.task-status-cancel {color: #333}

.taskMenu {width: 200px}
.taskMenu + .page-content {margin-left: 220px;}

#currentItem .icon-caret-down {position: absolute; right: 10px; top: 10px}
#currentItem {font-weight: bold; background-color: #F1F1F1; background-image: -moz-linear-gradient(#fafafa, #f1f1f1); background-image: -webkit-linear-gradient(#FAFAFA, #F1F1F1); background-image: linear-gradient(#FAFAFA, #F1F1F1); background-repeat: repeat-x;}

#dropMenu {min-width: 200px;}
#defaultMenu, #finishedMenu, #suspendMenu {min-width: 168px;}
#groupBar{ margin:0 20px; }
#groupBar .btn-group{margin-right: 15px;}
