.panel-body.boards-container {padding: 5px}
.board, .board-empty { margin: 0; padding: 5px; border: none; float: left; width: 20%}
.board > .panel {margin-bottom: 0;}
.board > .panel > .panel-body {padding: 0;}

.board-item .pri {line-height: 18px; height: 18px; width: auto; border: none; background: none}
.board-item {padding: 6px; border-top: 1px solid #ddd; margin: -1px -1px 0;}
.board-item-shadow {margin: 0;}

.board-item.board-item-empty {border-style: solid; background: #f1f1f1; padding: 15px 6px;}
.boards.dragging .board.drop-in {box-shadow: none}
.boards.dragging .board.drop-in > .panel {box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);}

.task {position: relative;}
.task-heading {padding-right: 15px; padding-bottom: 5px;}
.task-actions {position: absolute; right: 3px; top: 3px}
.task-info .btn-mini {line-height: 1}
.dropdown .caret {border-top-color: #999}
.dropdown-menu > a {display: block; padding: 3px 15px; color: #333}
.dropdown-menu > a:hover {background: #f1f1f1; color: #a30e21; text-decoration: none}
.dropdown-menu > a.disabled, .dropdown-menu > a.disabled:hover, .dropdown-menu > a.active {color: #aaa; background: none}
