.table{width:100%;}
.table img{max-width:99%;}
.thread table p{margin: 0}
.article-files{margin: 0 -8px -8px;}
.article-files > li.article-files-heading{margin-bottom: 0;}
form .ke-container{margin-bottom: 10px;}
