.carousel {margin-bottom: 20px;}
.carousel .container {position: relative; z-index: 9;}
.carousel-control {-moz-border-radius: 6px; -webkit-border-radius: 6px;border-radius:6px; width:80px; line-height:270px; font-size: 120px; text-shadow: 0 1px 1px rgba(0,0,0,.4); border: 0; z-index: 10;}
.carousel-inner{-moz-border-radius: 6px; -webkit-border-radius: 6px;border-radius:6px;}
.carousel .item {height: 270px;background-color: transparent;}
.carousel img {position: absolute; top: 0; left: 0; min-width: 100%; height: 270px;}
.carousel-caption {background-color: transparent; position: static; max-width: 550px; padding: 0 80px; margin-top:40px;text-align:left;}
.carousel-caption ul{padding: 10px;line-height: 1.5em;}
.carousel-caption ul li{list-style:disc;}
.carousel-caption ol li{list-style:decimal}
.carousel-caption h2,
.carousel-caption .lead {margin-top: 10px; line-height: 1.25em; color: #fff; text-shadow: 0 1px 1px rgba(0,0,0,.4);}
.carousel-caption h2{font-size: 2.25em;}
.carousel-caption .lead {padding-left:10px; font-size:14px;}
.carousel-caption .btn {margin-top: 10px;min-width: 120px;} 

.row .panel{ min-height: 150px;overflow: hidden; font-size: 15px;color: #5A5A5A;}
.row .panel .panel-heading{background-color: transparent;margin: 0 10px;border-color: #eee;padding-bottom: 5px;}

.row .product-box{padding:8px;}
