label.checkbox input[type='checkbox']{margin:0;}
.table-footer{transition: all 0.3s ease 0s;}
.label{font-size: 13px; line-height: 40px;height: 40px;}
#menu > .nav > .year-menu, #menu > .nav > .month-menu{padding: 5px;} 
#menu > .nav > .month-menu .dropdown-submenu > .dropdown-menu{left: 100%;}
#menu > .nav > li > .dropdown{line-height: 20px; padding: 5px 0;}
#menu > .nav > li > .dropdown > a:hover, #menu > .nav > li > .dropdown > a:focus{text-decoration: none;}
