.page-content.with-menu{margin: 0 0 0 160px;}

.checkbox-users .checkbox{display:block; width:100px; float:left}
#privContent .checkbox{display:block; width:35%; margin-top:10px; float:left}

#privTab > li > a{height:25px; padding:4px 10px 4px 10px;}
