i.btn {font-family: ZenIcon;}
.table-form {max-width: 900px;}
#detailBox .row {margin-top: 5px; margin-bottom: 5px;}
#currency, #detailBox [name^='currencyList'] {border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
