.attend-normal {background: #8BC34A}
.attend-late {background: #FFCCBC;}
.attend-early {background: #FF8A65;}
.attend-both {background: #FF5722;}
.attend-absent {background: #FFFF00;}
.attend-leave {background: #9E9E9E}
.attend-trip {background: #E0E0E0}
.attend-rest {}

.valign-middle {vertical-align: middle !important;}
.tree .active {font-weight: bold;}
.tree > li {margin-right: 0;}
.with-side .side {position: absolute; width: 130px;}
.with-side .main {padding-left: 145px; float: left;}
