.attend-normal [class^=attend] {background: #DDF4DF}
.attend-late .attend-signin {background: #FFF0D5;}
.attend-early .attend-signout {background: #FFF0D5;}
.attend-both [class^=attend] {background: #FFF0D5;}
.attend-absent [class^=attend] {background: #FFE5E0;}
.attend-leave [class^=attend] {background: #DDF4DF}
.attend-trip [class^=attend] {background: #DDF4DF}
.attend-rest [class^=attend] {}

.valign-middle {vertical-align: middle !important;}
.tree .active{font-weight: bold;}
