.panel .no-padding{padding: 0px;}
.tree .active{font-weight: bold;}
.tree > li {margin-right: 0;}
.with-side .side {position: absolute; width: 130px;}
.with-side .main {padding-left: 145px; float: left;}

.attend-normal [class^=attend] {background: #DDF4DF}
.attend-late .attend-signin {background: #FFF0D5;}
.attend-early .attend-signout {background: #FFF0D5;}
.attend-both [class^=attend] {background: #FFF0D5;}
.attend-absent [class^=attend] {background: #E3A21A;}
.attend-leave [class^=attend] {background: #DDF4DF}
.attend-trip [class^=attend] {background: #DDF4DF}
