#appbar {justify-content: space-between;}
#appbar > .title {flex: none; position: relative; padding-left: 5rem; padding-right: 3rem; min-width: 20rem; background-color: rgba(0,0,0,.1)}
#appbar > .title > .avatar {position: absolute; top: 1rem; left: 1rem}
#appbar > .title > .icon {position: absolute; top: .5rem; right: 1rem}

/* App menu */

#appMenu  {min-width: 20rem}
#appMenu > .item > .title {font-size: 1.6rem}

/* User menu */

#userMenu {min-width: 18rem; max-width: 50%}
#userMenu .lang-menu {left: 2.5rem}
