ul.tree{padding: 0;}
ul.tree li{float:left; margin: 10px 20px;font-size:14px; font-weight:600;}
ul.tree li ul {padding-left:0;}
ul.tree li ul li{float:none; margin: 10px 20px; font-size:14px; font-weight:400;}
