/* Styles for admin login form. */
#login .box-radius{padding: 20px 0;}
#login .panel{width: 80%; margin: 5% auto;border: none;max-width: 450px;}
#login .panel-body{padding: 20px; min-height: 230px;}
#login .panel-heading{background-color: transparent;}
.form-group input{min-width: 320px;}`
.form-group label a{font-weight: normal;}
label{display: block;}

.admin{width: 360px; margin: 0 auto 20px; padding: 19px 29px 29px; background-color: #fff; border: 1px solid #ddd;
-moz-box-shadow:0px 1px 15px rgba(0,0,0,0.15); -webkit-box-shadow:0px 1px 15px rgba(0,0,0,0.15); box-shadow:0px 1px 15px rgba(0,0,0,0.15);}
.admin input{margin-bottom: 10px;}

#logo{display: block; margin: 0 auto; text-align: center;}
#logo img{width: 200px; padding: 0 0 10px 0;}

.input-block-level{width: 100%;}

#login a{text-align: left;padding-left: 5px;}
a .icon-qq, a .icon-sina{
  margin-bottom: -15px;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background: url('theme/default/images/main/socialicons.png') left top no-repeat;
}
a .icon-sina{background-position: 0 -48px;}
