#reset .panel{width: 500px;margin: 30px auto;border: none;}
#reset .panel-heading{background-color: transparent;}
#reset .panel-body {padding: 30px;}
#reset .panel-body table{width: 100%;}
#reset .panel-body td,#reg .panel-body th{padding: 5px 10px;}
#reset .panel-body th{text-align: right;}
#reset .text-box,#submit{width: 90%;}
