.panel-body > .comments-list { margin: -15px -15px 0;}
.comment{padding-left: 15px;padding-right: 15px;}
.pager { margin: 0; display: block; }
.pager > .page { margin-bottom: -15px; font-size: 12px; text-align: right; color: #999;}
.signed-user-info{padding: 6px 2px}
.comment>.avatar {margin-top: 0;}
.comment>.avatar+.content{padding-left: 60px;}
.icon-stack { position: relative; display: inline-block;}
.icon .icon-stack-base{font-size: 42px;color: #ddd;z-index: 100;width: 42px;height: 42px;}
.icon .icon-content{position: absolute;line-height: 42px;width: 42px;text-align: center; font-size: 12px;display: block;z-index: 1000;color: #666;left: 0;top: 0}
